/* ========================================
スタイルのリセット
======================================== */

body {
  margin: 0;
  padding: 0;
  color: #444;
  line-height: 150%;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

/* ========================================
  リンク
======================================== */

a,
a:active,
a:focus {
  color: #36C9C6;
}
a:hover{
  text-decoration: none;
}

/* ========================================
  フォント
======================================== */
.num {
  font-family: 'Montserrat', sans-serif;
}

/* ========================================
  フォント
======================================== */
header {
  margin-bottom: 30px;
  width: 100%;
  height: 80px;
  background: #f0f8ff;
}

header h1 {
  float: left;
  margin: 0;
  padding-left: 15px;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 80px;
}

header h1 a {
  color: #36C9C6;
  text-decoration: none;
}

/* ========================================
  ナビゲーション
======================================== */
#top-nav {
  position: relative;
  float: right;
  width: 500px;
  height: 90px;
}

nav a {
  padding: 10px 15px;
  color: #555;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

#top-nav ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 450px;
  height: 80px;
  list-style: none;
  line-height: 80px;
}

#top-nav ul li {
  float: right;
}

/* ========================================
  レイアウト
======================================== */

.site-width {
  margin: 0 auto;
  width: 980px;
}

#main {
  float: left;
  min-height: 600px;
}

.page-1colum #main{
  width: 100%;
}

.page-2colum #main{
  width: 760px;
}

.page-logined #main {
  border: 5px solid aliceblue;
  box-sizing: border-box;
}

section h1.title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#contents {
  overflow: hidden;
  margin: 20px auto;
}

.page-title {
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}

.listDetail-head h2 {
  display: inline-block;
  padding: 15px;
}

.listDetail-head h3{
  float: right;
  padding: 15px;
}

.listDetail-content {
  width: 80%;
  margin: 15px auto;
  box-sizing: border-box;
  border: 1px solid #f6f5f4;
  padding: 5px;
  background: #f6f5f5;
  font-size: 18px;
}

.listDetail-content li {
  margin: 5px;
}

.comment h2 {
padding: 15px;  
}

/* ========================================
  サイドバー
======================================== */

#sidebar {
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
  padding: 15px;
  min-height: 600px;
  width: 200px;
  background: aliceblue;
}

#sidebar .title {
  text-align: left;
  font-size: 14px;
}

#sidebar .selectbox { 
  position: relative;
}

#sidebar select {
  padding: 10px;
  width: 100%;
  border-color: #CCC;
  border-radius: 0;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#sidebar .icn_select:after {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #333;
  border-right: 7px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 7px solid transparent;
  content: "";
}

.page-logined #sidebar {
  margin: 0 0 0 20px;
}

.page-logined #sidebar > img {
  width: 100%;
  height: auto;
}
.page-logined #sidebar > a {
  display: block;
  margin-bottom: 15px;
}

/* ========================================
  フッター
======================================== */

footer {
  padding: 15px;
  width: 100%;
  background: #f0f8ff;
  color: #555;
  text-align: center;
  font-size: 12px;
}

footer a {
  color: #36C9C6;
}

/* ========================================
  ページネーション
======================================== */

.pagination {
  position: relative;
  overflow: hidden;
}

.pagination-list {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 0;
  list-style: none;
}

.pagination-list .list-item {
  position: relative;
  left: -50%;
  float: left;
  margin-right: 5px;
}

.pagination .list-item:last-child {
  margin-right: 0;
}

.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: #000;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.pagination .list-item.active a {
  background: #f0f8ff;
  color: #555;
}
.pagination .list-item a:hover {
  background: #f0f8ff;
  color: #555;
}

/* ========================================
  検索エリア
======================================== */

.search-title {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 5px 10px;
  height: 40px;
  background: #f6f5f4;
  line-height: 40px;
}

.search-left {
  float: left;
}

.search-right{
  float: right;
}

.search-title .total-num{
  padding-right: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

/* ========================================
  リスト
======================================== */

.list > .title {
  padding-left: 10px;
  border-left: 6px solid #36C9C6;
}

.panel-list {
  overflow: hidden;
  margin-right: -15px;
}

.panel-list > .panel {
  float: left;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-right: 15px;
  width: 25%;
  color: #555;
  text-decoration: none;
  line-height: 1.2em;
}

a.panel:hover {
  text-decoration: none;
}

.panel-list > .panel .panel-title {
  margin: 0;
  display: inline;
}
.panel .panel-cnt {
  float: right;
  padding-right: 15px;
}

/* ========================================
  ボタン
======================================== */

.btn {
  padding: 15px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn.btn-primary {
  background: #36C9C6;
  color: #555;
}

.btn.btn-mid {
  max-width: 150px;
}


/* ========================================
  フォーム
======================================== */

label {
  display: block;
}

label.err input{
  background: #f7dcd9;
}

input[type="text"], input[type="password"], input[type="number"], .form select, textarea {
  margin-bottom: 15px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 60px;
  border: none;
  background: aliceblue;
  display: block;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: #f6f5f5;
}

input[type="number"] {
  width: 100%;
  text-align: left;
}

input[type="submit"] {
  font-size: 14px;
  margin: 15px 0;
  padding: 15px 30px;
  width: 100%;
  border: none;
  background: #36C9C6;
  color: #555;
}

.form-container {
  margin: 0 auto;
}

.page-1colum .form-container {
  margin: 80px auto;
}

.form {
  margin: 0 auto;
  padding: 30px;
  width: 400px;
  border: 5px solid #f1f1f1;
}

.page-logined .form {
  border: none;
}

.form .title {
  margin-bottom: 40px;
  text-align: center;
}

.form > .area-msg {
  padding: 0 0 15px 0;
  color: #f00;
}

.form .btn-container {
  overflow: hidden;
}

.form .btn {
  float: right;
}

.form .area-drop{
  margin-bottom: 15px;
  width: 100%;
  height: 200px;
  background: #f6f5f4;
  color: #ccc;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.form .input-file{
  opacity: 0;
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.form .prev-img{
  margin: 0 auto;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.form .imgDrop-container{
  width: 100%;
  /* padding: 15px; */
  box-sizing: border-box;
}

/* ========================================
コメント
======================================== */

.area-comment {
  width: 80%;
  height: 500px;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0 auto;
  background: #f6f5f4;
  padding: 15px;
}

.area-send-msg {
  width: 80%;
  margin: 5px auto;
  box-sizing: border-box;
  background: #f6f5f4;
  padding: 15px;
  overflow: hidden;
}

.area-send-msg textarea {
  width: 100%;
  background: #fff;
  height: 100px;
  padding: 15px;
}

.area-send-msg .btn-send {
  width: 150px;
  float: right;
  margin-top: 0;
}

.area-comment .msg-cnt {
  width: 80%;
  overflow: hidden;
  margin-bottom: 30px;
}

.area-comment .msg-cnt .avatar {
  width: 5%;
  overflow: hidden;
  float: left;
}

.area-comment .msg-cnt .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
  }

  .area-comment .msg-cnt .msg-inrTxt {
    width: 85%;
    float: left;
    border-radius: 5px;
    margin: 0 0 0 25px;
    position: relative;
  }

  .area-comment .msg-cnt.msg-left .msg-inrTxt {
    background: #f6e2df;
  }

  .area-comment .msg-cnt.msg-left .msg-inrTxt > .triangle {
    position: absolute;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #f6e2df;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  .area-comment .msg-cnt.msg-right {
    float: right;
  }

  .area-comment .msg-cnt.msg-right .msg-inrTxt {
    background: #d2eaf0;
    margin: 0 25px 0 0;
  }
  .area-comment .msg-cnt.msg-right .msg-inrTxt > .triangle {
    position: absolute;
    right: -20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #d2eaf0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .area-comment .msg-cnt.msg-right .msg-inrTxt {
    float: right;
  }

  .area-comment .msg-cnt.msg-right .avatar {
    float: right;
  }

/* ========================================
  その他
======================================== */
.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122,206,230,0.6);
  top: 16px;
  line-height: 40px;
}